
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.api();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/QkPf372.png" />

    <meta property="og:description" content="if you're a developer, you've reached my available APIs that i've written! if you're not a developer, you won't understand how this works but you're free to try." />
    <meta property="og:site_name" content="Fellow Hashbrown" />
    <title>Fellow Hashbrown</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/QkPf372.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/archives">archives</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link active" href="/api">api</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                

                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">api</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        if you're a developer, you've reached my available APIs that i've written! if you're not a developer, you won't understand how this works but you're free to try.
                    </p>
                </div>

                
                        <h2 class="page-section">
                            <a name="hangman"></a>
                            <code class="field">page</code><code>.</code><code class="field">hangmanAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /hangman</code>
                                <p style="text-align: left;">Gets a random word to use in a hangman game.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                <p style="text-align: left;">None</p>
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">"wheel"</code>,<br>
&emsp; <code class="json-string">"level"</code>: <code class="json-string">"easy"</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="scramble"></a>
                            <code class="field">page</code><code>.</code><code class="field">scrambleAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /scramble</code>
                                <p style="text-align: left;">Gets a random word to use in a scramble game.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                <p style="text-align: left;">None</p>
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">"unused"</code>,<br>
&emsp; <code class="json-string">"hints"</code>: [<br>
&emsp; &emsp; <code class="json-string">"unutilized"</code>,<br>
&emsp; &emsp; <code class="json-string">"unemployed"</code>,<br>
&emsp; &emsp; <code class="json-string">"unexploited"</code>,<br>
&emsp; &emsp; <code class="json-string">"spare"</code>,<br>
&emsp; &emsp; <code class="json-string">"surplus"</code><br>&emsp; 
]<br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="morse-encode"></a>
                            <code class="field">page</code><code>.</code><code class="field">morseEncodeAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /morse/encode</code>
                                <p style="text-align: left;">Converts text you give into International Morse Code.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">text</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The text to convert into morse code. Can be uppercase or lowercase letters between A-Z or numbers between 1-9.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">".... . .-.. .-.. ---"</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Cannot Encode Empty Text."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Cannot Encode Morse Code."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="morse-decode"></a>
                            <code class="field">page</code><code>.</code><code class="field">morseDecodeAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /morse/decode</code>
                                <p style="text-align: left;">Converts International Morse Code you give into text.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">text</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The morse code to convert into regular text.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">"hello"</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Cannot Decode Empty Text."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Cannot Decode Regular Text."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="logic"></a>
                            <code class="field">page</code><code>.</code><code class="field">logicAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /logic</code>
                                <p style="text-align: left;">Parses and evaluates a logical expression whether in pseudocode, code, or logic.<br>NOTE: When typing in the URL manually, you'll need to encode the & symbols and the | symbols.<br>Before calling the API, parse the expression so it is URL-safe.<br>The <code class="code">download</code> and <code class="code">raw</code> parameters can only be used by someone in the browser.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">expression</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The logical expression to parse and evaluate.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">table</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">boolean</code>
                                                    Whether or not to receive a truth table for the logical expression. Defaults to false.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">download</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">boolean</code>
                                                    Whether or not to download the file directly to your device.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">raw</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">boolean</code>
                                                    Whether or not to show the raw truth table in the browser.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: [<br>
&emsp; &emsp; {<br>
&emsp; &emsp; &emsp; <code class="json-string">"expression"</code>: <code class="json-string">"a"</code>,<br>
&emsp; &emsp; &emsp; <code class="json-string">"truth_value"</code>: {<br>
&emsp; &emsp; &emsp; &emsp; <code class="json-string">"a"</code>: <code class="json-keyword">true</code><br>&emsp; &emsp; &emsp; 
},<br>
&emsp; &emsp; &emsp; <code class="json-string">"value"</code>: <code class="json-keyword">true</code><br>&emsp; &emsp; 
},<br>
&emsp; &emsp; <code class="json-string">"... More Expressions ..."</code><br>&emsp; 
]<br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: [<br>
&emsp; &emsp; <code class="json-string">"| a | b | a ^ b |"</code>,<br>
&emsp; &emsp; <code class="json-string">"+---+---+-------+"</code>,<br>
&emsp; &emsp; <code class="json-string">"| T | T |   T   |"</code>,<br>
&emsp; &emsp; <code class="json-string">"| T | F |   F   |"</code>,<br>
&emsp; &emsp; <code class="json-string">"| F | T |   F   |"</code>,<br>
&emsp; &emsp; <code class="json-string">"| F | F |   F   |"</code><br>&emsp; 
]<br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"You need an expression to parse."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"You need a truth value for the variable "a""</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"An unknown error has occurred and has been sent to the developer."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="profanity"></a>
                            <code class="field">page</code><code>.</code><code class="field">profanityAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /profanity</code>
                                <p style="text-align: left;">Filters text to test whether or not it is a truncated profane word.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">text</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The text to test for any profanity.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"profane"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"likely_word"</code>: <code class="json-string">"asshole"</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"profane"</code>: <code class="json-keyword">false</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Cannot Filter Empty Text."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="llamas"></a>
                            <code class="field">page</code><code>.</code><code class="field">llamaAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /llamas</code>
                                <p style="text-align: left;">Retrieves a random line of dialogue from Llamas With Hats.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">episode</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">integer</code>
                                                    The episode number to get a line from. Can be between 1-12. Chooses random episode by default.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">author</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The speaker to get text from. Can be Carl or Paul. Chooses random author by default.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">any</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">boolean</code>
                                                    Whether or not to choose any type of quote. Even one-worded quotes or action lines. Defaults to false.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">fullScript</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">boolean</code>
                                                    Whether or not to get the full script of quotes. To use this, you must provide an episode to get the full script from. Defaults to false.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"episode"</code>: <code class="json-keyword">1</code>,<br>
&emsp; <code class="json-string">"image"</code>: <code class="json-string">"https://i.quotev.com/img/q/u/16/5/30/e37ac6e9b1-supe.jpg"</code>,<br>
&emsp; <code class="json-string">"author"</code>: <code class="json-string">"Carl"</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">"My stomach was making the rumblies."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"episode"</code>: <code class="json-keyword">1</code>,<br>
&emsp; <code class="json-string">"image"</code>: <code class="json-string">"https://i.quotev.com/img/q/u/16/5/30/e37ac6e9b1-supe.jpg"</code>,<br>
&emsp; <code class="json-string">"quotes"</code>: [<br>
&emsp; &emsp; {<br>
&emsp; &emsp; &emsp; <code class="json-string">"author"</code>: <code class="json-string">"Paul"</code>,<br>
&emsp; &emsp; &emsp; <code class="json-string">"value"</code>: <code class="json-string">"CAAAARL! THERE IS A DEAD HUMAN IN OUR HOUSE!!"</code><br>&emsp; &emsp; 
},<br>
&emsp; &emsp; <code class="json-string">"... More Quotes ..."</code><br>&emsp; 
]<br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"No Episode Given."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Invalid Author."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Invalid Episode."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        
                        <h2 class="page-section">
                            <a name="office"></a>
                            <code class="field">page</code><code>.</code><code class="field">officeAPI</code><code>();</code>
                        </h2>
                        <div class="page-section-block">
                            <p style="text-align: left;">
                                <code>GET /office</code>
                                <p style="text-align: left;">Gets a random line of dialogue from The Office.</p>
                                <p style="text-align: left; font-weight: bold;">Parameters</p>
                                
                                <table width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <code class="code">season</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">integer</code>
                                                    Must be a season in the range 1-9.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">episode</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">integer</code>
                                                    The number of the episode to get. If the episode number exceeds the amount of episodes in the given season, an error will be given.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <code class="code">type</code>
                                            </td>
                                            <td style="font-weight: normal">
                                                <p style="color: #E0E2E4;">
                                                    <code class="code-string">string</code>
                                                    The type of quote to get. Can be either aired, deleted, or any. Defaults to aired.
                                                </p>
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                
                                
                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">200</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">true</code>,<br>
&emsp; <code class="json-string">"value"</code>: <code class="json-string">"Oh that's Andy. He's just hanging out."</code>,<br>
&emsp; <code class="json-string">"author"</code>: <code class="json-string">"Erin"</code>,<br>
&emsp; <code class="json-string">"season"</code>: <code class="json-keyword">8</code>,<br>
&emsp; <code class="json-string">"episode"</code>: <code class="json-keyword">22</code>,<br>
&emsp; <code class="json-string">"deleted"</code>: <code class="json-keyword">false</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Season Not Given. Episode Was."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Invalid Episode."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Invalid Season."</code><br>
}
                                                    </div>
                                                    

                                                    <p style="font-weight: bold;">
                                                        Response 
                                                        <code class="code-string">400</code
                                                    </p>
                                                    <p>Body</p>
                                                    <div class="code-block">
                                                        {<br>
&emsp; <code class="json-string">"success"</code>: <code class="json-keyword">false</code>,<br>
&emsp; <code class="json-string">"error"</code>: <code class="json-string">"Invalid Quote Type."</code><br>
}
                                                    </div>
                                                    

                            </p>
                        </div>
                        

                <br>

                <!--Credit 3rd Party Objects-->
                

                <br>
                <br>
                
            </div>
        </div>
    </body>
</html>
