
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.archives();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/QkPf372.png" />

    <meta property="og:description" content="oh look! an archive for any projects of mine!" />
    <meta property="og:site_name" content="Fellow Hashbrown" />
    <title>Fellow Hashbrown</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/QkPf372.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link active" href="/archives">archives</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/api">api</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                

                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">archives</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        oh look! an archive for any projects of mine!
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="supercog"></a>
                    <code class="field">page</code><code>.</code><code class="field">supercog</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        while developing my discord bot, i realized i was reusing code so i created a few classes for it to simplify it. then i realized how useful my shortened code was and decided to write a Python library for it. unfortunately, my own project caused problems for my discord bot and so i don't use it anymore.
                    </p>
                    
                </div>
                

                <br>

                <!--Credit 3rd Party Objects-->
                

                <br>
                <br>
                
            </div>
        </div>
    </body>
</html>
