
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.home();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fellowhashbrown.com/home" />
    <meta property="og:image" content="https://i.imgur.com/QkPf372.png" />

    <meta property="og:description" content="this is my website! cool." />
    <meta property="og:site_name" content="Fellow Hashbrown" />
    <title>Fellow Hashbrown</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/QkPf372.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link active" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/archives">archives</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/api">api</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                

                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">home</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        this is my website! cool.
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="None"></a>
                    <code class="field">page</code><code>.</code><code class="field">about</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        nice, ya found me. well my name is jonah. i am currently a sophomore in college. i am majoring in computer science. and that's about it.
oh yeah, i also have a few coding projects that you can find on the projects page.
                    </p>
                    
                </div>
                
                <h2 class="page-section">
                    <a name="None"></a>
                    <code class="field">page</code><code>.</code><code class="field">social</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        if ya wanna contact me on other social media, go right ahead. here are all my links for absolutely everything that i have from gaming to social media to coding.
all the good stuff.
                    </p>
                    <a href="https://instagram.com/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174855.svg" class="social-image"></a>
<a href="https://facebook.com/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174848.svg" class="social-image"></a>
<a href="https://twitter.com/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174876.svg" class="social-image"></a>
<a href="https://tumblr.com/blog/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174875.svg" class="social-image"></a>
<a href="https://steamcommunity.com/id/FellowHashbrown" class="social-button" target="_blank"><img src="https://www.freeiconspng.com/uploads/steam-icon-19.png" class="social-image"></a>
<a href="https://twitch.tv/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733577.svg" class="social-image"></a>
<a href="https://pypi.org/user/FellowHashbrown" class="social-button" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2000px-Python-logo-notext.svg.png" class="social-image"></a>
<a href="https://github.com/FellowHashbrown" class="social-button" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733553.svg" class="social-image"></a>
<a href="https://repl.it/@FellowHashbrown" class="social-button" target="_blank"><img src="https://avatars3.githubusercontent.com/u/983194?s=280&v=4" class="social-image"></a>
                </div>
                
                <h2 class="page-section">
                    <a name="None"></a>
                    <code class="field">page</code><code>.</code><code class="field">discord</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        here is my discord server for all my projects too. that might be helpful eh?
any bug reports, feature requests, and whatever else can be submitted through here. each project of mine is in its own category with its own channels so you can talk through there.
don't be afraid to mention me if you need help with something.
                    </p>
                    <p style="text-align: center;"><iframe src="https://discordapp.com/widget?id=521185038969208850&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                

                <br>

                <!--Credit 3rd Party Objects-->
                
            <div style="text-align: center;"><code class="regular">
                Icons made by <a href="https://www.freepik.com" class="link" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com" class="link" title="Flaticon">www.flaticon.com</a> is licensed by <a href="https://creativecommons.org/licenses/by/3.0/" class="link" title="Creative Commons BY 3.0">CC 3.0 BY</a>
            </code></div>

            
            <div style="text-align: center;"><code class="regular">
                Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" class="link" title="Pixel Perfect">Pixel Perfect</a> from <a href="https://www.flaticon.com" class="link" title="Flaticon">www.flaticon.com</a> is licensed by <a href="https://creativecommons.org/licenses/by/3.0/" class="link" title="Creative Commons BY 3.0">CC 3.0 BY</a>
            </code></div>

            

                <br>
                <br>
                
            </div>
        </div>
    </body>
</html>
