
<html>

    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">

    
    <meta property="theme-color" content="#EC7600" />
    <meta property="og:title" content="website.projects();" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fellowhashbrown.com/" />
    <meta property="og:image" content="https://i.imgur.com/QkPf372.png" />

    <meta property="og:description" content="this is the page where all my projects are at! it's nice to see you've reached this. if you ever use any of them or whatnot, i appreciate the support." />
    <meta property="og:site_name" content="Fellow Hashbrown" />
    <title>Fellow Hashbrown</title>
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/safari-pinned-tab.svg') }}" color="#202020">
    <meta name="msapplication-TileColor" content="#202020">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='/mstile-144x144.png') }}">
    <meta name="theme-color" content="#202020">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/browserconfig.xml') }}">
</head>


    <body>
        <div class="page-body">

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <img src="https://i.imgur.com/QkPf372.png" class="social-image" style="width: 50px; height: 50px;">
                <ul class="nav-links">
                    
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link active" href="/projects">projects</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/archives">archives</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="/api">api</a>
                </li>

                
                </ul>
            </nav>

            <!-- Content -->
            <div class="content">
                
                

                <h1 class="page-title">
                    <code class="field">website</code><code>.</code><code class="field">projects</code><code>();</code>
                </h1>

                <div class="page-title-block" style="max-width: 75%;">
                    <p style="text-align: center;">
                        this is the page where all my projects are at! it's nice to see you've reached this. if you ever use any of them or whatnot, i appreciate the support.
                    </p>
                </div>

                
                <h2 class="page-section">
                    <a name="omegaPsi"></a>
                    <code class="field">page</code><code>.</code><code class="field">omegaPsi</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        omega psi is a discord bot i created and have been working on since september of 2018. originally, it was not called omega psi. however, i updated the code to use discord.py's rewrite library and therefore, omega psi was the new name. <a href="https://omegapsi.fellowhashbrown.com/commands" class="link">here</a> is a page for the commands and below is a blog for updates. join my <a href="https://discord.gg/W8yVrHt" class="link" target="_blank">discord server</a> to see more.
                    </p>
                    <p style="text-align: center;"><iframe src="https://fellowhashbrown.tumblr.com/tagged/omegapsi" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                
                <h2 class="page-section">
                    <a name="2054"></a>
                    <code class="field">page</code><code>.</code><code class="field">get2054</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        2054 is a decision-based game that is not finished yet. it is not even close. but i am currently working on it and most major milestones i make will be shown below in my blog :)
                    </p>
                    <p style="text-align: center;"><iframe src="https://fellowhashbrown.tumblr.com/tagged/2054" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                
                <h2 class="page-section">
                    <a name="invasion"></a>
                    <code class="field">page</code><code>.</code><code class="field">invasion</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        invasion is a cool game that i am also working on. i used to have one written but it was when i first discovered how to make a game in Python. i didn't understand classes or object-oriented programming yet. that made my code look terribly confusing and it was also horribly undocumented. for that reason, i deleted it and now im rewriting it in a way that is far easier to read and is highly documented. once i setup a github repo for it, you'll see the link here.<br>below is a blog for invasion!
                    </p>
                    <p style="text-align: center;"><iframe src="https://fellowhashbrown.tumblr.com/tagged/invasion" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                
                <h2 class="page-section">
                    <a name="element-generator"></a>
                    <code class="field">page</code><code>.</code><code class="field">elementGenerator</code><code>();</code>
                </h2>
                <div class="page-section-block" style="text-align: center;">
                    <p style="text-align: left;">
                        element generator is one of my most major java projects. all it really is is an application that simplifies adding new elements and minerals in <a href="https://minecraft.net/en-us/download/" class="link" target="_blank">Minecraft: Java Edition</a>. here is the <a href="https://drive.google.com/uc?export=download&id=1GBE9MqUt9FLldiQFhNMqiFham-F4ttaG" target="_blank" class="link">download link</a> and my code is available at my <a href="https://github.com/FellowHashbrown/element-generator" target="_blank" class="link">github repo</a> for it.
                    </p>
                    
                </div>
                

                <br>

                <!--Credit 3rd Party Objects-->
                

                <br>
                <br>
                
            </div>
        </div>
    </body>
</html>
